[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]


[dev-packages]
pytest = "*"
coverage = "*"

[requires]
python_version = "3.10"

[scripts]
main="python main.py"
test="pytest test.py"
test-coverage="coverage run -m pytest test.py"
coverage-report="coverage report"
coverage-html="coverage html"
serve-coverage-html="python -m http.server --directory htmlcov"

